{% extends 'base.html.twig' %}

{% block title %}Bout'chou Paradise | Vêtements Bébé Garçon{% endblock %}

{% block stylesheets %}
  <link  href="{{ asset('css/style-boys.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}


 <main class="main">
 
 <img class="picture" src="{{ asset('assets/picture/jules.jpeg') }}" alt="Jules">
   <p class="section__subtitle">Découvrez notre collection pleine de style, de douceur pour vos petits aventuriers.</p> 

 <h1 class="collection__title">Collection Garçons - Tendances et Confort</h1>
   <section class="product">

     <div class="product__card">
       <img src="{{ asset('assets/product-boys/romper-boat.jpg') }}" alt="Barboteuse bateau" />
       <h2 class="product__name">Barboteuse</h2>
       <p class="product__description">Confortable en coton, idéale pour les journées d'été .</p>
       <p class="price">35,00 €</p>
       <button>Ajouter au panier</button>
     </div>

     <div class="product__card">
       <img src="{{ asset('assets/product-boys/romper-marine.webp') }}" alt="Barboteuse blue" />
       <h2 class="product__name">Barboteuse</h2>
       <p class="product__description">Bleu profond avec boutons pression pour un habillage facile.</p>
       <p class="price">24,90 €</p>
       <button>Ajouter au panier</button>
     </div>

     <div class="product__card">
        <img src="{{ asset('assets/product-boys/romper-ciel.webp') }}" alt="Barboteuse ciel">
       <h2 class="product__name">Barboteuse</h2>
       <p class="product__description">Motifs marins amusants, tissu doux pour la peau délicate des bébés.</p>
       <p class="price">35,00 €</p>
       <button>Ajouter au panier</button>
     </div>

     <div class="product__card">
       <img src="{{ asset('assets/product-boys/romper-fish.webp') }}" alt="romper-fish" />
       <h2 class="product__name">Barboteuse</h2>
       <p class="product__description">.</p>
       <p class="price">24,90 €</p>
       <button>Ajouter au panier</button>
     </div>

     <div class="product__card">
       <img src="{{ asset('assets/product-boys/pyjama-message.webp') }}" alt="pyjama-message" />
       <h2 class="product__name">Pyjama</h2>
       <p class="product__description">.</p>
       <p class="price">39,90 €</p>
       <button>Ajouter au panier</button>
     </div>

     <div class="product__card">
       <img src="{{ asset('assets/product-boys/pyjama-ours.webp') }}" alt="" />
       <h2 class="product__name">Pyjama</h2>
       <p class="product__description">.</p>
       <p class="price">34,90 €</p>
       <button>Ajouter au panier</button>
     </div>

     <div class="product__card">
       <img src="{{asset('assets/product-boys/pyjama-tigre.webp') }}" alt="Robe Cerise d'été" />
       <h2 class="product__name">Robe Cerise d'été</h2>
       <p class="product__description">Une petite robe remplie de couleur.</p>
       <p class="price">39,90 €</p>
       <button>Ajouter au panier</button>
     </div>

     <div class="product__card">
       <img src="{{ asset('assets/product-boys/pyjama-pieuvre.webp') }}" alt="Robe Rêve d'azur" />
       <h2 class="product__name">Robe Rêve d'azur</h2>
       <p class="product__description">Une petite robe pour les soirées habillées de votre petite princesse.</p>
       <p class="price">34,90 €</p>
       <button type="button">Ajouter au panier</button>
     </div>
   </section>

{% endblock %}