{% extends 'base.admin.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style-new.css') }}">
{% endblock %}

{% block body %}
    <h2>Modifier la catégorie</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
   <button type="submit" class="btn btn-primary btn-sm">
            <i class="fas fa-edit"></i> Modifier
        </button>

    {{ form_end(form) }}
{% endblock %}